@media all and (min-width: 480px) {

  .x700{display:block;}
  .x290{display:none;}

}

@media all and (max-width: 479px) {

  .x700{display:none;}
  .x290{display:block;}

}
.updateicon {
    color: red;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(-360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}
tr.hover:hover{
  background-color: rgb(80, 108, 181)
}

table.fac, th.fac, td.fac {
  border:1px solid black
}
table.fact, th.fact, td.fact {
  border-bottom: 1px solid black
}
table.fontprod, th.fontprod, td.fontprod {
  font-size: 12px
}



.sidenav{
  min-width: 30%;
  border-radius: 2px;
  border-color: grey;
  background-color: rgb(186, 252, 200);
}


.submenu{
  max-width:100vw;
  padding-top: 60px;
}

.contenido{
  background-color: rgba(255, 255, 255, 0.6);
  align:center;
  overflow-y: auto;
  max-height: 70%
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-half-width {
  width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}
md2-select-header {
  position: relative;
  display: block;
  height: 48px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(black, 0.12);

  input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
  }
}

$primary: #106cc8 !default;
$warn: #f44336 !default;
$md2-select-trigger-height: 30px !default;
$md2-select-trigger-min-width: 112px !default;
$md2-select-arrow-size: 5px !default;
$md2-select-arrow-margin: 4px !default;
$md2-select-panel-max-height: 256px !default;
$md2-select-trigger-font-size: 16px !default;

.md2-select {
  display: inline-block;
  outline: none;
}

.md2-select-trigger {
  color: rgba(black, 0.38);
  display: flex;
  align-items: center;
  height: $md2-select-trigger-height;
  min-width: $md2-select-trigger-min-width;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: $md2-select-trigger-font-size;

  [aria-disabled='true'] & {
    @include user-select(none);
    cursor: default;
  }

  .md2-select:focus:not(.md2-select-disabled) & {
    color: $primary;
  }

  .md2-select.ng-invalid.ng-touched:not(.md2-select-disabled) & {
    color: $warn;
  }
}

.md2-select-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(black, 0.12);

  [aria-disabled='true'] & {
    @include mat-control-disabled-underline();
    background-color: transparent;
    background-position: 0 bottom;
  }

  .md2-select:focus:not(.md2-select-disabled) & {
    background-color: $primary;
  }

  .md2-select.ng-invalid.ng-touched:not(.md2-select-disabled) & {
    background-color: $warn;
  }
}

.md2-select-placeholder {
  position: relative;
  padding: 0 2px;
  transform-origin: left top;
  flex-grow: 1;

  &.md2-floating-placeholder {
    top: -22px;
    left: -2px;
    text-align: left;
    transform: scale(0.75);
  }

  [dir='rtl'] & {
    transform-origin: right top;

    &.md2-floating-placeholder {
      left: 2px;
      text-align: right;
    }
  }

  [aria-required=true] &::after {
    content: '*';
  }
}

.md2-select-value {
  position: absolute;
  max-width: calc(100% - #{($md2-select-arrow-size + $md2-select-arrow-margin) * 2});
  flex-grow: 1;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: rgba(black, 0.87);

  [dir='rtl'] & {
    left: auto;
    right: 0;
  }

  .md2-select-disabled & {
    color: rgba(black, 0.38);
  }
}

.md2-select-value-text {
  @include mat-truncate-line();
  line-height: $md2-select-trigger-height;
}

.md2-select-arrow {
  width: 0;
  height: 0;
  border-left: $md2-select-arrow-size solid transparent;
  border-right: $md2-select-arrow-size solid transparent;
  border-top: $md2-select-arrow-size solid;
  margin: 0 $md2-select-arrow-margin;
}

.md2-select-panel {
  @include mat-menu-base();
  padding-top: 0;
  padding-bottom: 0;
  max-height: $md2-select-panel-max-height;
  min-width: 100%;

  @include cdk-high-contrast {
    outline: solid 1px;
  }
}

.md2-select-content, .md2-select-panel-done-animating {
  background: white;
}

.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.cdk-overlay-transparent-backdrop {
  background: none;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.48;
}
table.addClient {
  display: table;
  border: 1px solid rgba(black, 0.12);
  border-spacing: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-collapse: collapse;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  text-align: left;


  tr {
    position: relative;
    height: 36px;
    vertical-align: middle;

    &:hover {
      background-color: #868686;
    }
  }

  th {
    padding: 0 16px;
    text-align: right;
  }
  td {
    padding: 0 16px;
    text-align: right;
  }

  td {
    position: relative;
    vertical-align: middle;
    height: 36px;
    border-top: 1px solid rgba(black, 0.12);
    border-bottom: 1px solid rgba(black, 0.12);
    box-sizing: border-box;
    color: rgba(black, 0.87);
  }
}


table{
  width: 100%;
  text-align: left;
  border-collapse: collapse;

}
